
div special {
    background-color: #717171;
    color: #000000;
    text-decoration: none;
}
   
main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    font-family: Arial, sans-serif;
   
}

nav {  
    background: #ffffff;
    padding: 12px;
    display: flex;
    gap: 16px;
   
}
nav a {
    color: #000000;
    text-decoration: none;
}


nav a:hover {
    text-decoration: underline;
}

main{
    display: flex;
    height: calc(100vh - 45px);
}
main frame{
    flex: 1;
    border: none;
    border-right: 1px solid #cccccc;

}
            
h2{
    text-decoration: underline;
}

h2 normal {
    background-color: #cfcfcf;
    color: #000000;
    text-decoration: none;
}

h1 {
    background-color: #cfcfcf;
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    color: #2a2a2c;
    font-size: 3em;
}
p pequeno {
    color: #565656;
    line-height: 1.6;
} 
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
}
h1 {
    background-color: #c4c2c2;
    color: #2a2a2c;
    font-size: 3em;
}
p {
    color: #000000;
    line-height: 1.6;
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    background-color: #a1a1a1;
    color: #2a2a2c;
    font-size: 3em;
}

h1 alto {
    background-color: #cfcfcf;
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    color: #2a2a2c;
    font-size: 3em;
}
p {
    color: #555555;
    line-height: 1.6;
} 
